body {
    height: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Roboto', sans-serif;

}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    background-color: bisque;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    background-color: rgb(65, 63, 60);
    flex-direction: column;
}

.form-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 10rem;
    color: white;
    background-color: rgb(76, 51, 241);
    flex-direction: column;
}

.form-hidden {
    display: none;
}

.form {
    display: inline;
}

#createAccount {
    background-color: aqua;
}

header {
    width: 100%;
    height: 2rem;
    position: fixed;
    top: 0%;
    left: 1rem;
}

input {
    margin: 0.2rem;
}

.Btnback {
    padding: .3rem;
    margin: 1rem;
}